{% extends 'base.html' %}
{% load i18n %}



{% block content %}

    <div class="container py-5 ">
        <div class="card bg-gradiant p-3">
            <h3 class="card-title">
                {% trans 'Register' %}
            </h3>

            <div class="card-body ">
                <form method="POST" action="{% url 'register'%}">
                    {% csrf_token %}
                    {% include "common/form.html" with form=form %}
                    <button class="btn bg-success text-white ">{% trans 'Register' %} </button> 
                </form>
            </div>
        </div>
    </div>

{% endblock content %}